<aside>
    <div>
        <div [className]="'aDiv'">
            <a href="/">Home</a><br>
        </div>
        <div [className]="'aDiv'">
            <a href="/estados">Estados CSS</a><br>
        </div>
        <div [className]="'aDiv'">
            <a href="/estados_primeng">Estados PrimeNG</a>
        </div>
            
        <div [className]="'aDiv'">
            <a href="/cidades">Cidades CSS</a><br>
        </div>
        <div [className]="'aDiv'">
            <a href="/cidades_primeng">Cidades PrimeNG</a>
        </div>
        <div [className]="'aDiv'">
            <a href="/cadastro_pessoas">Cadastro de Pessoas</a>
        </div>
        <div [className]="'aDiv'">
            <a href="/cest">CEST</a>
        </div>
    </div>
</aside>
