table {
    border-collapse: collapse;    
    width: 155vh;
    font-family: Poppins;
    font-weight: 200;
    border: 1px solid rgba(52, 59, 65, 0.1);
}
 
th, td {
    text-align: left;
    padding: 8px;
}
tr {
    color: #24292F;
}
 
tr:nth-child(odd){
    background-color: rgba(52, 59, 65, 0.1);
}
 
th {
    background-color: rgba(52, 59, 65, 0.1);
    color: rgba(52, 59, 65, 1);
    font-weight: 400;
}
a{
    cursor: pointer; 
}

#blocos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 155vh;
}

