th { 
    text-align: left;
}

:host ::ng-deep .ui-paginator {
    float: right;
    width: 100%;
}
:host ::ng-deep .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #DF0031;
    color: #ffffff;
  }

:host ::ng-deep  .ui-paginator .ui-paginator-pages .ui-paginator-page:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2em rgba(223,0,49,0.3);
}
/* ui-paginator-element ui-state-default ui-corner-all ui-state-active */
/* class="ui-paginator-bottom ui-paginator ui-widget ui-widget-header ui-unselectable-text ui-helper-clearfix" */

#blocos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
}